.container {
    .main-toolbar {
      .spacer {
        flex: 1 1 auto;
      }
      .toolbar-btn {
        font-size: 16px;
        margin-right:5px;
        cursor: pointer;
      }
    }
  
    .content {
      .logo {
        margin: 2.5rem;
        text-align: center;
        font-size:24px;
        color: #3f51b5;
        .mat-icon{
          height:160px !important;
          width:160px !important;
          font-size:160px !important;
        }
      }
    }
  
    .media-footer {
      position: absolute;
      bottom:0;
      width:100%;
      .time-slider {
        width: 100% !important;
        margin-left:20px;
        margin-right:20px;
      }
      .media-action-bar {
        width: 100%;
        padding:2.5rem;
        justify-content: center;
        .mat-icon{
          height:48px !important;
          width:48px !important;
          font-size:48px !important;
        }
      }
    }
  }

  .container.media-footer.media-footer .media-action-bar .mat-icon {
    height: 48px !important;
    width: 48px !important;
    font-size: 43px !important;
  }
  @media (max-width: 599px){

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 49px!important;
}
  }
  .grey-text{
    color: grey !important;
    margin-top: 6px!important;
    font-size: 12px!important;
  }
  .mat-toolbar.mat-primary {
    background: #000000!important;
    color: #fff!important;
}
.container .media-footer.media-action-bar{
  width: 100%;
  padding: 2.2rem!important;
  justify-content: center;
}